<section class="container" id="about">
  <div class="icon-wrapper">
    <div class="individual-content">
      <i class="icon-item fas fa-chart-line"></i>
      <p class="paragraph-text">Tjena vad har vi här?
        LJWENFLwehgLOEWGHWAÄRKLGHJRG
        worjbgÖWJLERBGAÖLKFHVNALÖKFG
        AOEOFBVÖwkljBGNAÖSLRGNSÄRLKGN
      </p>
    </div>
    <div class="individual-content">
      <i class="icon-item fas fa-paste"></i>
      <p class="paragraph-text">Nästa då, vad finns här? kalefknself
        OÖSJDFBLASDFNASLEKFNWSFGEWF
        wfjwbgawkjbgfalwkgjawrg
        WOJGBarlgbnawlrjgn äoaejrngkaenrgälkaenrgälkaerngälakrngäakerjgäkergnäer 
      </p>
    </div>
    <div class="individual-content">
      <i class="icon-item fas fa-balance-scale"></i>
      <p class="paragraph-text">Då har vi hamnat där vi ska hamna flr 
         ÅWOUGHÖjsdbVÖOJhwegfäojSNdvöjS
         dbngözjbsfgözhijdbvözsjdffbÖSKDjfb
        aäfkjaskfwdf
        afqfewf aoenrgäkajgäklaerjgäkaegjäalkrjgoaergnäalkfgaergnaälkergnlaekrng 
      </p>
    </div>
  </div>
</section>