<section class="container" id="about">

<h1>About</h1>
  <div class="about-wrapperg">
    <ul>
      <li>Referenser</li>
      <li>Historia</li>
      <li>Värdegrund</li>
    </ul>
  </div>
</section>

