<section  id="contact">
        <h2 class="section__title">Contact</h2>

        <form id="mailform" class="contact__container">
            <div>
                <label for="name"> Namn </label>
                <input type="text">
            </div>
            <div>
                <label for="email"> Mail </label>
                <input type="text" id="email" name="email" value="">
            </div>
            <div>
            <label for="message"> Meddelande </label>
            <textarea name="message" id="message">
            Meddelande
            </textarea>
            </div>
        </form>
</section>
