<section  id="contact">
        <h2 class="center-text">Contact<h2>

        <form id="mailform" class="contact__container">
            <label for="name"> Namn </label>
            <input type="text">

            <label for="email"> Mail </label>
            <input type="text" id="email" name="email" value="">

            <label for="message"> Meddelande </label>
            <textarea name="message" id="message">
            Meddelande
            </textarea>
            <div></div>
        </form>
</section>
