    
{% macro active(activePage='home') %}
	<nav class="nav sticky">
		<div class="nav__items">
		<a href="/" class=" {%if activePage == '/' %}nav__item--active{% endif %}">Home</a>
		<a href="#about" class="nav__item {%if activePage == 'about' %}nav__item--active{% endif %}">About</a>
		<a href="#services" class="nav__item {%if activePage == 'services' %}nav__item--active{% endif %}" >News</a>
		<a href="#contact" class="nav__item {%if activePage == 'contact' %}nav__item--active{% endif %}" >Contact</a>
		</div>
	</nav>
{% endmacro %}






