{% extends "layout.njk" %}


{% block content %}
{% import '../templates/macros/navigation.njk' as nav %}
  {{ nav.active('home') }}  
  <section class="section section--padded" id= "home">
    
     {% include "../templates/partials/carousel.njk" %} 
      {# Example of where one can put a carousel that is NOT part of nav  #}
    <p></p>
    </section>

   {% include "../templates/sections/about.njk" %}
   {% include "../templates/sections/services.njk" %}
   {% include "../templates/sections/contact.njk" %}
  
  
{% endblock %}



