

//----------------------- General START

.fa-arrow-circle-down {
    color: $color-dark-yellow;
    font-size: 200px;
 
  }
 
  .fa-arrow-circle-down:hover {
   color: $color-gray;
   font-size: 200px;
 
 }

 .far.fa-user {
   font-size: 100px;

 }